# Airflow DB
psycopg2-binary

# Spark
pyspark
fastparquet
pyarrow

pyarrow==14.0.2
pandas

numpy
scikit-learn
matplotlib
seaborn


# api

fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt==3.2.2